NODE_ENV=development

PORT=5000

MONGO_URI=mongodb://localhost:27017/ecommerce

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=your_super_secure_access_secret_here

JWT_REFRESH_SECRET=your_super_secure_refresh_secret_here

ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN=7d

SUPER_ADMIN_EMAIL=admin@amiherbals.com
SUPER_ADMIN_PASSWORD=StrongPassword123